<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant List</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/main_style.css">
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/">
        <img
          src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        {{#if user}} {{user.name}}'s {{/if}}餐廳清單
      </a>
      <div>
        <a class="btn-create mr-2 btn btn-info" href="/restaurants/create">
          新增餐廳
          <i class="fas fa-plus"></i>
        </a>
        {{#if isAuthenticated}}
          <a href="/users/logout" class="btn btn-secondary ">Logout</a>
        {{else}}
          <a href="/users/login" class="btn btn-secondary ">Login</a>
        {{/if}}
      </div>
    </nav>
    <div class="banner"></div>
  </header>
  <main>
    <div class="container mt-3">
      {{{body}}}
    </div>
  </main>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/common.js"></script>
</body>

</html>